nav {
  background-color: orange;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid white;
  background-color: red;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.title-bar h1 {
  font-size: 30px;
  margin-left: 10px;
}

}

@media all and (max-width: 500px) {
  nav a {
    display: flex;
    margin: 20px;
  }
}
