nav {
  background-color: orange;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
}

.title-bar h1 {
  font-size: 30px;
}
